@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #141420;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.background_img {
    width: 100%;
}

.head_div {
    background-color: #2A2835;
    border-radius: 26px;
    width: 498px;
    height: 317px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg_div {
    background-color: #2A2835;
    border-radius: 26px;
    width: 196px;
    height: 317px;
}

.battle_div {
    display: flex;
    justify-content: space-evenly;
}

.reg_txt {
    position: absolute;
    top: 290px;
    font-size: 19px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 0;
}

.reg_h2 {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    margin: 0;
}

.reg_p {
    font-weight: 400;
    font-size: 11px;
    color: #929292;
    margin: 15px 0;
}

.pos {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 283px;
    right: 297px;
}

.regis {
    border: 0;
    border-radius: 6px;
    box-shadow: 2;
    margin-bottom: 15px;
    padding: 7px 21px;
    font-weight: 700;
    font-size: 10px;
    background-color: #CE4A2A;
    color: #fff;
}

.rule {
    border: 0;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 7px 21px;
    font-weight: 700;
    font-size: 10px;
    background-color: #5A576C;
    color: #fff;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.nickname-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.header {
    background-color: #2A2835;
    color: #2A2835;
    width: auto;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 36px;
    transition: transform 0.3s ease-in-out;
}
.header.hidden {
    transform: translateY(-100%);
}
.HeaderButton {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
}


#Schedule {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-64%);
    color: white;
    padding: 5px;
}

#Grid {
    position: absolute;
    top: 0;
    left: calc(50% + 45px);
    color: white;
    padding: 5px;
}
#Help {
    position: absolute;
    top: 0;
    left: calc(50% + 190px);
    color: white;
    padding: 5px;
}

#Registration {
    position: absolute;
    top: 0;
    right: calc(50% + 75px);
    color: white;
    padding: 5px;
}

#Tournament {
    position: absolute;
    top: 0;
    right: calc(50% + 350px);
    color: white;
    text-decoration: none;
    padding: 5px;
}

#RangChecker {
    position: absolute;
    top: 0;
    right: calc(50% + 200px);
    color: white;
    padding: 5px;
}
#Main {
    position: absolute;
    top: 0;
    right: calc(50% + 450px);
    color: white;
    padding: 5px;
}


.HeaderButton {
    text-decoration: none;
}