header {
    background: #f00;
    color: #f00;
}

header .logo{
    background: #f00;
    color: #f00;
}
header nav a
{
    background: #fff;
    color: #000000;
}

body {
    margin-bottom: 60px;
    background: #2A2835;
}

footer
{

}