@*
*@
@{
    Layout = null;
}
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="~/css/account.css" />
</head>
<body>
    <div class="wrapper">
        <div class="left-panel">
            <h1 id="pass-recovery-text">Восстановление пароля</h1>

            <form>
                <input autocomplete="on" type="password" placeholder="Введите новый пароль" />

                <button type="submit" id="recovery-button">Восстановить</button>
            </form>
        </div>
        <img src="~/img/collage.png" alt="" id="backgroundimage" />
    </div>
</body>
</html>
