@{
    ViewData["Title"] = "Home Page";
}

<section>
    <img class="background_img" src="img/background.png" alt="">
</section>
<section id="battle">
    <div class="battle_div">
        <div class="head_div">
            <img src="img/cs.png" alt="">
            <p class="reg_txt">Lorem ipsum dolor sit amet, consectetuer <br> adipiscing elit. Aenean commodo ligula eget <br> dolor. Aenean massa. Cum sociis natoque <br> penatibus et magnis dis parturient montes, <br> nascetur ridiculus mus. Donec quam felis, <br> ultricies nec, pellentesque eu, pretium quis, <br> sem. Nulla consequat massa quis</p>
        </div>
        <div class="reg_div">
            <img src="img/sipmle.png" alt="">
            <div class="pos">
                <h2 class="reg_h2">Зарегистрируй свою <br> команду на турнир</h2>
                <p class="reg_p">Lorem ipsum dolor sit amet, <br> consectetuer adipiscing elit. <br> Aenean commodo ligula <br> eget dolor. Aenean massa.</p>
                <input class="regis" type="button" value="Зарегистрироваться">
                <input class="rule" type="button" value="Правила">
            </div>
        </div>
    </div>
</section>
<section>
    <div>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <h2>Турнир БГУ</h2>
            <p>Идет регистрация</p>
        </div>
        <div>
            <div>
                <p>Начало</p>
                <p>**.**.****</p>
            </div>
            <div>
                <p>Режим</p>
                <p>5v5</p>
            </div>
            <div>
                <p>Участники</p>
                <p>0/256</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <p>Лучшие игроки БГУ</p>
                <p>Cyber BSU</p>
            </div>
            <div>
                <div>
                    <p>Режим</p>
                    <details>
                        <summary>
                            <p>5v5</p> <!--через inner надо будет сделать потом-->
                        </summary>
                    </details>
                </div>
                <div>
                    <p>Сезон</p>
                    <details>
                        <summary>
                            <p>1</p><!--через inner надо будет сделать потом-->
                        </summary>
                    </details>
                </div>
            </div>
            <div></div><!--линия-->
            <div>
                <!--ниже инфа тоже через inner должна будет делаться, тут про лучших игроков разных режимов и сезонов, по факту пока так можно оставить-->
                <p>Топ в сезоне</p>
                <p>Рейтинг</p>
                <p>% Побед</p>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                    <p>NickName</p>
                    <p>****</p>
                    <p>****</p>
                    <div></div><!--линия-->
                </div>
                <div>
                    <img src="" alt="">
                    <p>NickName</p>
                    <p>****</p>
                    <p>****</p>
                    <div></div><!--линия-->
                </div>
                <div>
                    <img src="" alt="">
                    <p>NickName</p>
                    <p>****</p>
                    <p>****</p>
                    <div></div><!--линия-->
                </div>
                <div>
                    <img src="" alt="">
                    <p>NickName</p>
                    <p>****</p>
                    <p>****</p>
                    <div></div><!--линия-->
                </div>
                <div>
                    <img src="" alt="">
                    <p>NickName</p>
                    <p>****</p>
                    <p>****</p>
                    <div></div><!--линия-->
                </div>
            </div>
        </div>
        <div>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <p>Лучшие группы БГУ</p>
                <p>Cyber BSU</p>
            </div>
            <div>
                <div>
                    <p>Режим</p>
                    <details>
                        <summary>
                            <p>5v5</p> <!--через inner надо будет сделать потом-->
                        </summary>
                    </details>
                </div>
                <div>
                    <p>Сезон</p>
                    <details>
                        <summary>
                            <p>1</p><!--через inner надо будет сделать потом-->
                        </summary>
                    </details>
                </div>
            </div>
            <div></div><!--линия-->
            <div>
                <!--ниже инфа тоже через inner должна будет делаться, тут про лучших игроков разных режимов и сезонов, по факту пока так можно оставить-->
                <p>Топ в сезоне</p>
                <p>Рейтинг</p>
                <p>% Побед</p>
            </div>
            <div>
                <div>
                    <img src="" alt="">
                    <p>group</p>
                    <p>****</p>
                    <p>****</p>
                    <div></div><!--линия-->
                </div>
                <div>
                    <img src="" alt="">
                    <p>group</p>
                    <p>****</p>
                    <p>****</p>
                    <div></div><!--линия-->
                </div>
                <div>
                    <img src="" alt="">
                    <p>group</p>
                    <p>****</p>
                    <p>****</p>
                    <div></div><!--линия-->
                </div>
                <div>
                    <img src="" alt="">
                    <p>group</p>
                    <p>****</p>
                    <p>****</p>
                    <div></div><!--линия-->
                </div>
                <div>
                    <img src="" alt="">
                    <p>group</p>
                    <p>****</p>
                    <p>****</p>
                    <div></div><!--линия-->
                </div>
            </div>
        </div>
        <div></div>
        <div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div>
                <video src=""></video>
                <h2>Смотрите прямой эфир турнира</h2>
                <p>Запись будет доступна после эфира по <span class="orange_txt">этой ссылке</span></p>
            </div>
            <div>
                <h2>Смотрите TeamSpeak команд</h2>
                <input type="button" value="Будет доступно после трансляции">
            </div>
        </div>
    </div>
</section>
<section>
    <div>
        <div>
            <p>Часто задаваемые вопросы</p>
        </div>
        <details>
            <summary>
                <p>Lorem ipsum</p>
                <div></div><!--линия-->
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis</p>
            </summary>
        </details>
        <details>
            <summary>
                <p>Lorem ipsum</p>
                <div></div><!--линия-->
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis</p>
            </summary>
        </details>
        <details>
            <summary>
                <p>Lorem ipsum</p>
                <div></div><!--линия-->
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis</p>
            </summary>
        </details>
        <details>
            <summary>
                <p>Lorem ipsum</p>
                <div></div><!--линия-->
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis</p>
            </summary>
        </details>
        <details>
            <summary>
                <p>Lorem ipsum</p>
                <div></div><!--линия-->
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis</p>
            </summary>
        </details>
    </div>
</section>
