@{
    ViewData["Title"] = "Подтверждение";
}
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="~/css/account.css" />
</head>
<body>
    <div class="wrapper">
        <div class="left-panel">
            <<h2>Ваш email успешно подтверждён!</h2>
            <p>Теперь вы можете войти на сайт.</p>
            <a href="/Account/Login">Войти</a>
        </div>
    </div>
</body>
</html>