@{
    ViewData["Title"] = "Ошибка";
}
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="~/css/account.css" />
</head>
<body>
<div class="wrapper">
    <div class="left-panel">
            <h2>Произошла ошибка</h2>
            <p>Невозможно подтвердить email. Пожалуйста, проверьте ссылку или попробуйте снова.</p>
            <a href="/Account/Login">Войти</a>
    </div>
</div>
</body>
</html>